pre[class*="language-"] {
	border: 1px black solid;
	border-radius: 5px;
}

.commit-tease {
	margin-top: 30px;
	position: relative;
  padding: 8px 8px 0;
  background: #e6f1f6;
  border: 1px solid #b7c7cf;
  border-bottom-color: #d8e6ec;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.commit-tease p.commit-title {
  	margin: 0 0 6px;
    color: #4e575b;
    text-align: left;
}

.commit-tease .commit-meta {
  padding: 8px;
  margin-right: -8px;
  margin-left: -8px;
  background: #fff;
  border-top: 1px solid #d8e6ec;
}

.commit-tease .authorship {
  margin: -2px 0 -4px -4px;
  font-size: 12px;
  color: #999;
}

.commit-tease .authorship .avatar {
	margin: -2px 3px 0 0;
}

.commit-tease .authorship .author-name {
  color: #444;
  font-weight: bold;
  color: #444;
  text-decoration: none;
}

.file-wrap {
	position: relative;;
  	margin-bottom: 10px;
 	border: 1px solid #ddd;
  	border-top: 0;
  	border-bottom-right-radius: 3px;
  	border-bottom-left-radius: 3px;
}

table.files td {
  	padding: 6px 3px;
  	line-height: 20px;
  	border-top: 1px solid #eee;
}

td.directory {
}

td.age {
	max-width: 140px;
  	padding-right: 10px;
  	color: #888;
  	text-align: right;
  	white-space: nowrap;
}

table.files tr.up-tree {
  	border-bottom: 1px solid #eee;
}

table.files {
	width: 100%;
  	background: #f8f8f8;
  	border-radius: 2px;
  	border-collapse: collapse;
  	border-spacing: 0;
}

tbody {
	display: table-row-group;
  	vertical-align: middle;
  	border-color: inherit;
  	box-sizing: border-box;
}

tr {
	display: table-row;
  	vertical-align: inherit;
  	border-color: inherit;
}

span.folderDirectory {
	font-size: 18px;
	text-decoration: none;
}

span.folderDirectory:hover{
	font-size: 18px;
	text-decoration: underline;
}

div#container {
	border: none;
}